body{
    margin: 0px;
}

.bg-1{
    background-color: #e1f0ed;
    /* margin-left: 50px; */
}

.banner{
    background-image: url(image/billboard.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    background-position: center;
    /* position:absolute; */
}

.navbar{
    display: flex;
    margin: auto;
    background-color: rgba(240,248,255,0.796);
    width: 100%;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    margin:  20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black
    /* text-transform: uppercase */
}

.navbar ul li::after{
    content: ''; 
    height: 3px;
    width: 0%;
    background:rgb(108, 189, 243) ;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* top: 25px; */
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.mainImg_footer{
        position: relative;
        text-align: center;
        padding: 12px;
        /* top: 450px; */
        background-color: white;
        opacity: 0.7;
        margin-top: 680px;
        justify-content: space-between;
        align-items: center;
}

.mainImg_footer button{
    margin-left: 700px;
    padding-right: 50px;
    /* border-radius: 10px; */
    padding: 5px 20px 5px 20px;
    background-color: rgb(20, 191, 234);
 }   

 .mainImg_footer button a{
    text-decoration: none;
    color: black;
 }

 .mainImg_footer button:hover{
    background-color: red;
}

h2{
    text-align: center;
}

.ark img{
    margin-left: 250px;
}

.studio{
    display: flex;
    /* display: inline; */
    gap: 65px;
    margin: 20px 100px 20px 100px;
    text-align: center;  
}

.studio p{
    padding: 0px 60px 0px 60px;
    font-size: small;
}



.flex-container{
    display: flex;
    align-items: center;
     gap: 2px;
}

.flex-container img{
    height: 200px;
    width: 250px;
}

.client{
    display: flex;
    margin-left: 200px;
    margin-right:200px;
    gap: 30px;
    text-align: center;
    font-size: small;
    padding: 0px 60px 0px 60px;
}

.client img {
    border-radius: 50%;
}



.client-logo{
    position: relative;
    /* margin: 50px; */
    left: 150px;
    top: 40px;
}

.client-logo img{
    margin: 30px;
}

.about{
    background-color: black;
    color: white;
}

.about h3{
    margin-left: 250px;
    margin-right: 250px;
    position:relative;
    margin-top: 20px;
    background-color: rgb(111, 101, 101);
    background-size: auto;
    padding: 10px;
}

.about button{
    padding: 5px 20px 5px 20px ;
    margin-left: 50px;
    background-color: rgb(22, 115, 191)  ;
}

.about button:hover{
    background-color: red;
}


.flex-container1{
    display: flex;
    /* position: relative; */
    /* gap: 50px; */
    margin-left: 250px;
    /* text-align: center; */
    gap: 50px;
    padding: 0px 20px 0px 20px;
    font-size: small;
}

 .Loc img{
    margin-top: 20px;   
}

.Loc h2{
    text-align: left;
}

.Loc a{
    text-decoration: none;
    color: white;
}

.com h2{
    /* text-align: right; */
    padding: 0px 40px 0px 40px;
}

.com ul li{
    list-style: none;
   
}

.com ul li a{
    text-decoration: none; 
    color: white; 
    list-style: none;
    
}

.sup h2{
    padding: 0px 40px 0px 40px;
}

.sup ul li{
    list-style: none;
}

.sup ul li a{
    text-decoration: none;
    color:white;

}

.as h2{
    text-align: left;
}

.foot{
    text-align: center;
    /* background-color: rgb(157, 146, 146); */
    margin-left: 250px;
    margin-right: 250px;
} 

@media only screen and (max-width:600px){
 .mainImg_footer{
    background-color:blueviolet;
}

}

@media only screen and (min-width:300px){
    .mainImg_footer button{
         background-color:red;
    }
}  

 @media only screen and (max-width:600px){
    .studio img{
        background-color:aquamarine;

    }
}

@media only screen and (max-width:600px){
    .studio img{
        background-color:aquamarine;
       

    }
}

@media only screen and (min-width:300px){
    .studio p{
         background-color:red;
    }
} 