.banner{
    background-image: url(https://img.freepik.com/premium-photo/closeup-image-modern-home-workspace-night-with-laptop-mockup-table-lamp-accessories_67155-29389.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    background-position: center;
}

.navbar{
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}

.footer{
        text-align: center;
        /* padding: 3px; */
        /* background-color: DarkSalmon; */
        color: white; 
        margin-top: 300px;
        justify-content: space-between;
        align-items: center;
}

.footer button{
    margin-left: 700px;
    /* border-radius: 10px; */
    padding: 5px;
    background-color: rgb(17, 148, 225);
}

h2{
    text-align: center;
}

.ark img{
    margin-left: 250px;
}

.studio{
    display: flex;
    gap: 50px;
    margin: 20px 100px 20px 100px;
    text-align: center;
   
}


.flex-container{
    display: flex;
    align-items: center;
     gap: 2px;
}

.client{
    display: flex;
    margin-left: 200px;
    margin-right:200px;
    gap: 40px;
    text-align: center;
    margin-top: 50px;
    /* background-color: rgb(252, 241, 241); */
}

.client img {
    border-radius: 50%;
}

.client-logo{
    display: flex;
    gap: 80px;
    padding: 20px;
    /* position: relative; */
    margin-top: 40px;
    justify-content: center;
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    background-color: #fdf9f9;
    /* text-align: left; */
}

.about{
    background-color: black;
    color: white;
}

.about h3{
    margin-left: 250px;
    margin-right: 250px;
    position:relative;
    margin-top: 20px;
    background-color: rgb(111, 101, 101);
    background-size: auto;
}

.about button{
    padding: 10px;
    margin-left: 50px;
    background-color: rgb(22, 115, 191)  ;
}

.flex-container1{
    display: flex;
    gap: 50px;
    margin-left: 250px;
    text-align: middle;
}

.Loc img{
    margin-top: 20px;
    gap: 10px;
}

.com ul li{
    list-style: none;
}

.sup ul li{
    list-style: none;
}

.foot{
    text-align: center;
    background-color: rgb(157, 146, 146);
    margin-left: 250px;
    margin-right: 250px;
}