.bg-1{
    background-color: #e1f0ed;
    /* margin-left: 50px; */
}

.banner{
    background-image: url(image/billboard.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    background-position: center;
    /* position:absolute; */
}

.navbar{
    display: flex;
    margin: auto;
    background-color: rgba(240,248,255,0.796);
    
    width: 100%;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    margin:  20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase
}

.navbar ul li::after{
    content: ''; 
    height: 3px;
    width: 0%;
    background:rgb(108, 189, 243) ;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* top: 25px; */
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.mainImg_footer{
        position: relative;
        text-align: center;
        padding: 8px;
        top: 450px;
        background-color: white;
        opacity: 0.7;
        margin-top: 300px;
        justify-content: space-between;
        align-items: center;
}

.mainImg_footer button{
    margin-left: 700px;
    padding-right: 50px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(17, 148, 225);
}

h2{
    text-align: center;
}

.ark img{
    margin-left: 250px;
}

.studio{
    display: flex;
    gap: 50px;
    margin: 20px 100px 20px 100px;
    text-align: center;
   
}


.flex-container{
    display: flex;
    align-items: center;
     gap: 2px;
}

.client{
    display: flex;
    margin-left: 200px;
    margin-right:200px;
    gap: 40px;
    text-align: center;
    margin-top: 50px;
    /* background-color: rgb(252, 241, 241); */
}

.client img {
    border-radius: 50%;
}

.client-logo{
    display: flex;
    gap: 80px;
    padding: 20px;
    /* position: relative; */
    margin-top: 40px;
    justify-content: center;
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    background-color: #fdf9f9;
    /* text-align: left; */
}

.about{
    background-color: black;
    color: white;
}

.about h3{
    margin-left: 250px;
    margin-right: 250px;
    position:relative;
    margin-top: 20px;
    background-color: rgb(111, 101, 101);
    background-size: auto;
    padding: 10px;
}

.about button{
    padding: 5px;
    margin-left: 50px;
    background-color: rgb(22, 115, 191)  ;
}

.flex-container1{
    display: flex;
    gap: 50px;
    margin-left: 250px;
    text-align: middle;
}

.Loc img{
    margin-top: 20px;
    gap: 10px;
}

.com ul li{
    list-style: none;
}

.sup ul li{
    list-style: none;
}

.foot{
    text-align: center;
    background-color: rgb(157, 146, 146);
    margin-left: 250px;
    margin-right: 250px;
}